<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="failedTestCasesExample.ITransformAnnotation"/>
    </listeners>

    <parameter name="browserName" value="chrome"/>

    <test verbose="2" preserve-order="true" name="C:/Users/khair/IdeaProjects/TestNgSeleniumExample">
        <classes>
            <class name="failedTestCasesExample.FailedTestCases">
            </class>
        </classes>
    </test>
</suite>